@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px !important;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

:root{
    --blue-1: #2D9CDB;
    --red-1: #EB5757;
    --green-1: #27AE60;
    --grey-1: #333333;
    --grey-2: #4F4F4F;
    --grey-3: #828282;
    --grey-4: #BDBDBD;
    --grey-5: #E0E0E0;
    --grey-6: #F2F2F2;
    --yellow-1: #F2C94C;
    --orange-1: #EB5757;

    --header-indent-size: 10rem;
    --header-font-size: 2rem;
    --header__contact-us--input-heigth: 3rem;
    --header__contact-us--input-border-radius: 0.5rem;

    --main__header--font-size: 1.8rem;
    --main__team__block-size: 12rem;
    --main__team--img-border-radius: 2rem;
}

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
    display: grid;
    grid-template-areas:
            "nav"
            "home"
            "services"
            "works"
            "team"
            "client"
            "footer";

}

.nav-area{
    grid-area: nav;
}

.home-area{
    grid-area: home;
    margin: 0 5% !important;

}

.services-area{
    grid-area: services;
    margin: 0 5%;
}

.works-area{
    grid-area: works;
    margin: 0 5%;

}

.team-area{
    grid-area: team;
    margin: 0 5%;

}

.client-area{
    grid-area: client;
    margin: 0 5%;

}
.footer-area{
    grid-area: footer;

}

.nav{
    margin: 3rem;
    display: flex;
    justify-content: space-between;
}
.nav__logo{
    font-weight: bolder;
    margin: 0;
    display: inline;
    font-size: 2rem;
}
.nav__items{
    display: inline-flex;
    justify-content: flex-end;
}

.nav__items > li
{
    list-style-type: none;
    padding: 0 1rem;
}



@media only screen and (max-width: 1037px) {
    .nav__items{
        display: none;
    }
    .menu-icon{
        display: block !important;
    }

}

@media only screen and (max-width: 990px) {
    .main__team{
        flex-direction: column;
    }
    .main__team--gallery {
        align-self: center;
    }
}
@media only screen and (max-width: 924px) {
  .main__services{
      justify-content: center;
  }
  .main--header{
      width: unset !important;
      text-align: center;
  }
  .header__width--down{
      width: unset !important;
  }
    .header__width--upper{
        width: unset !important;

    }
    .footer-flex{
        flex-direction: column;
        align-items: center !important;

    }
    .flex-item{
        margin: 1rem 0;
    }

    .header--left-indent{
        padding-left: 0 !important;
    }
}

.menu-icon{
    display: none;
    justify-self: flex-end;

}

.header{
    margin: 5rem 0;
}
.header__banner{
    background-image: url("assets/img/b67c46dacfbfc4df569e0bfa43f1e142.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    border-radius: 1rem;
    margin: 2rem 3rem;

}
.header__question--color{
    color: var(--blue-1);
}
.header--left-indent{
    padding-left: var(--header-indent-size);
}
.header--font-size{
    font-size: var(--header-font-size);
    font-weight: 400;
}
.header__width--upper{
    width: 27%;
}
.header__width--down{
    width: 18%;
}
.header__contact-us{
    display: flex;
    flex-direction: column;
}
.header__contact-us--input{
    background-color: var(--grey-6);
    color: var(--grey-4);
    border: none;
    height: 3rem;
    border-bottom-left-radius: var(--header__contact-us--input-border-radius);
    border-top-left-radius: var(--header__contact-us--input-border-radius);
    padding: 0;
}
.header__contact-us--input::placeholder{
    text-indent: 1rem;
    color: var(--grey-4);
    font-size: 1rem;
}
.header__contact-us--button{
    background-color: var(--blue-1);
    color: var(--grey-6);
    border: none;
    width: 4rem;
    border-radius: var(--header__contact-us--input-border-radius);
    height: calc(var(--header__contact-us--input-heigth) - 0.4rem);

}
.header__contact-us--button-wrapper{
    background-color: var(--grey-6);
    height: var(--header__contact-us--input-heigth);
    border-bottom-right-radius: var(--header__contact-us--input-border-radius);
    border-top-right-radius: var(--header__contact-us--input-border-radius);
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
}
.header__contact-us--question{
    font-size: 0.8rem;
}
.flex{
    display: flex;
}
.grey-1{
    color: var(--grey-1);
}
.grey-2{
    color: var(--grey-2);
}
.grey-3{
    color: var(--grey-3);
}
.orange-1{
    color: var(--orange-1);
}

.blue-1{
    color: var(--blue-1);
}

.main--ident-left{
    margin-left: calc(var(--header-indent-size)/2);
}
.main--header{
    font-size: var(--main__header--font-size);
    font-weight: 400;
    width: 20rem;
}
.main__services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.main__service{
    width: 20rem;
    margin: 0 1rem;
    padding: 2rem;
}

.main__service:hover{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}

.main__service:hover .main__services--button{
    color: white;
    background-color: var(--blue-1);
}
.main__services--role{
    font-size: 1.2rem;
    font-weight: bolder;
}
.main__services--button{
    border-radius: 0.5rem;
    color: var(--grey-3);
    background-color: var(--grey-5);
    border: none;
    height: 2rem;
    width: 6rem;
}
.main__services--icon-box{
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bc-red{
    background-color: var(--red-1);
}
.bc-blue{
    background-color: var(--blue-1);
}
.bc-green{
    background-color: var(--green-1);
}
.bc-yellow{
    background-color: var(--yellow-1);
}
.mt-10r{
    margin-top: 10rem;
}
.main__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__project{
    margin: 0 0.5rem;
}
.main__project--end{
    align-self: flex-end;
}


.main__project--image{
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.image2{
    background-image: url("assets/img/3ccde7e0fac63457b382b7c7cb64d111.png");
}
.image3{
    background-image: url("assets/img/ad723eb4bcb16d0458d93d80362707e4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    width: 60rem;
    position: absolute;
    transform: rotate(-30deg);
    transform-origin: 100px;
    z-index: 3;
}
.image1{
    background-image: url("assets/img/desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
    width: 40rem;
    position: absolute;
    transform: rotate(-15deg);
    transform-origin: bottom;
    z-index: 3;
}
.image4{
    background-image: url("assets/img/juice.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
    width: 40rem;
    position: absolute;
    transform: rotate(-15deg);
    transform-origin: bottom;
    z-index: 3;
}

.main__project--type{
    font-size: 0.8rem;
}
.main__project--title{
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.2rem 0;
}
.main__team--title{
    width: 14rem;
}
.main__team--description{
    width: 12rem;
    font-size: 0.8rem;
}
.break {
    flex-basis: 100%;
    height: 0;
}

.m-0{
    margin: 0;
}

.main__team--size3{
    width: var(--main__team__block-size);
    height: var(--main__team__block-size);
    background-image: url("assets/img/nerd2.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: var(--main__team--img-border-radius);
    grid-area: size3;
}
.main__team--size2{
    width: calc(var(--main__team__block-size)*1.2);
    height: calc(var(--main__team__block-size)*1.2);
    background-image: url("assets/img/nerd1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: size2;
    border-radius: var(--main__team--img-border-radius);


}
.main__team--size1{
    width: calc(var(--main__team__block-size)*1.4);
    height: calc(var(--main__team__block-size)*1.4);
    background-image: url("assets/img/nerd3.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;

    border-radius: var(--main__team--img-border-radius);
    grid-area: size1;
    align-self: center;

}

.main__team__description-block{
    align-self: center;
    margin-right: 8rem;
}

.main__team{
    display: flex;
}

.main__team--gallery{

    display: grid;
    grid-template-areas:
    "size1 size3"
    "size1 size2";
    grid-gap: 1rem;
    width: fit-content;
}
.review{
    height: 6rem;
    display: flex;
}
.review--text{
    font-size: var(--main__header--font-size);
    font-weight: 400;
}
.review--img{

    width: 6rem;
    height: 6rem;
    background-image: url("assets/img/nerd4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--header__contact-us--input-border-radius);
    display: inline-block;
}

.review__information{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.review__information--name{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}
.review__information--company{
    font-size: 1.0rem;
    margin: 0;
}

.review--section{
    display: flex;
}

.footer{
    margin-top: 10rem;
    background-color: #100E1D;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.footer-flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6rem;
    align-items: flex-start;
    width: 100%;
    padding: 3rem;
    justify-content: space-around;
}

.footer__social-media--section{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.footer__navigation{
    font-size: 1rem;
    list-style: none;
    padding: 0;
}

.footer__social-media{
    list-style: none;
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer__social-media--icons{
    height: 2rem;
    width: 2rem;
}

.footer__social-media--header{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    align-self: center;
}


small{
    display: block;
    width: 100%;
    color: #A9A9A9;
    text-align: center;
    margin-bottom: 5rem;
}
