@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

:root{
    --blue-1: #2D9CDB;
    --grey-1: #333333;
    --grey-2: #4F4F4F;
    --grey-3: #828282;
    --grey-4: #BDBDBD;
    --grey-6: #F2F2F2;

    --header-indent-size: 10rem;
    --header-font-size: 2rem;
    --header__contact-us--input-heigth: 3rem;
    --header__contact-us--input-border-radius: 0.5rem;

    --main__header--font-size: 1.8rem;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 3rem;
}

.nav__logo{
    font-weight: bolder;
    margin: 0;
    display: inline;
    width: 8%;
}
.nav__items{
    display: inline-flex;
    justify-content: flex-end;
    width: 92%;
}

.nav__items > li
{
    list-style-type: none;
    padding: 0 1rem;
}

.header{
    margin: 5rem 0;
}
.header__banner{
    background-image: url("assets/img/b67c46dacfbfc4df569e0bfa43f1e142.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    border-radius: 1rem;
    margin: 2rem 0;
}
.header__question--color{
    color: var(--blue-1);
}
.header--left-indent{
    padding-left: var(--header-indent-size);
}
.header--font-size{
    font-size: var(--header-font-size);
    font-weight: 400;
}
.header__width--upper{
    width: 27%;
}
.header__width--down{
    width: 18%;
}
.header__contact-us{
    display: flex;
    flex-direction: column;
}
.header__contact-us--input{
    background-color: var(--grey-6);
    color: var(--grey-4);
    border: none;
    height: 3rem;
    border-bottom-left-radius: var(--header__contact-us--input-border-radius);
    border-top-left-radius: var(--header__contact-us--input-border-radius);
    padding: 0;
}
.header__contact-us--input::placeholder{
    text-indent: 1rem;
    color: var(--grey-4);
    font-size: 1rem;
}
.header__contact-us--button{
    background-color: var(--blue-1);
    color: var(--grey-6);
    border: none;
    width: 4rem;
    border-radius: var(--header__contact-us--input-border-radius);
    height: calc(var(--header__contact-us--input-heigth) - 0.4rem);

}
.header__contact-us--button-wrapper{
    background-color: var(--grey-6);
    height: var(--header__contact-us--input-heigth);
    border-bottom-right-radius: var(--header__contact-us--input-border-radius);
    border-top-right-radius: var(--header__contact-us--input-border-radius);
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
}
.header__contact-us--question{
    font-size: 0.8rem;
}
.flex{
    display: flex;
}
.grey-1{
    color: var(--grey-1);
}
.grey-2{
    color: var(--grey-2);
}
.grey-3{
    color: var(--grey-3);
}


.main--ident-left{
    margin-left: calc(var(--header-indent-size)/2);
}
.main--header{
    font-size: var(--main__header--font-size);
    font-weight: 400;
    width: 22%;
}
.main__services{
    display: flex;
}

.main__services--role{
    font-size: 1.2rem;
    font-weight: bolder;
}
.main__services--button{
    border-radius: 1rem;
}
